$gray-primary: #e7e7e9 !default;
$gray-lighter: #f8f8f8 !default;

svg {
    &.svg-inline--fa {
        height: 15px;
    }
}

.table {
    .th {
        z-index: unset;

        &.hidden-column-preview {
            background-color: $gray-primary;
        }
    }

    .td {
        &.hidden-column-preview {
            background-color: $gray-lighter;
        }
    }
}

.widget-datagrid {
    .tr.tr-preview:nth-last-child(2) > .td {
        opacity: 0.5;
    }
    .tr.tr-preview:last-child > .td {
        opacity: 0.2;
    }
}
