$brand-primary: #264ae5 !default;

.widget-datagrid-export-alert {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 54px;
    min-width: 200px;
    max-width: 378px;
    width: 100%;
    position: relative;

    &-cancel {
        position: absolute;
        top: 10px;
        right: 10px;

        // TODO: Hover styles
        &.btn {
            display: flex;
            padding: 4px;
            &:focus-visible {
                outline: 1px solid $brand-primary;
            }
        }
    }

    &-message {
        color: rgba(38, 74, 229, 1);
        font-size: 18px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-failed {
        .widget-datagrid-export-progress-indicator {
            background-color: rgba(227, 63, 78, 1);
        }
    }
}
