.DS_Store
.idea
.vscode
dist
node_modules
.env
*.log
*.bak
*.launch
mxproject
coverage
output

**/results
mendixProject
**/e2e/diffs
**/screenshot
**/test-results
**/tests/testProject
**/pluggableWidgets/**/artifacts
**/gh-*/release-notes.txt

**/automation/utils/**/parser/module/module.js
**/automation/utils/**/parser/widget/widget.js

tests
.turbo
automation/run-e2e/ctrf/*.json
