# Defaults, add explicitly
auto-install-peers=false
bail=true
enable-modules-dir=true
dedupe-peer-dependents=false
extend-node-path=false
hoist-pattern[]=*
hoist=true
link-workspace-packages=true
node-linker=isolated
package-lock=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
shared-workspace-lockfile=true
workspace-concurrency=4

# Overrides
strict-peer-dependencies=true
# Our jest config (from PWT) don't play nice with latest pnpm 7.29.
# We may consider moving pacakges to peerDependencies
public-hoist-pattern[]=*enzyme*
public-hoist-pattern[]=*jest*
# packages mime and make-dir added because of PWT configs/rollup-plugin-assets.js
# remove once this plugin replaced with official one
public-hoist-pattern[]=mime
public-hoist-pattern[]=make-dir
# For babel, is a different story, and for now only way to fix it's issues is to use
# public-hoist-pattern rule.
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=big.js
public-hoist-pattern[]=*cypress*
public-hoist-pattern[]=*shelljs*
public-hoist-pattern[]=*rollup*
