# defaults, add explicitly
node-linker=isolated
dedupe-peer-dependents=false
extend-node-path=false
hoist=true
hoist-pattern[]=*
package-lock=true
shared-workspace-lockfile=true
workspace-concurrency=4
link-workspace-packages=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

# Overrides
strict-peer-dependencies=true
# Our jest config (from PWT) don't play nice with latest pnpm 7.29.
# The problem is that next dependencies:
# - enzyme-to-json/serializer
# - ts-jest
# Should be a peerDependencies in PWT. For now I just use hoist pattern.
# But for proper fix, we should install this deps as devDeps for each package where we
# using jest.
public-hoist-pattern[]=*enzyme*
public-hoist-pattern[]=*jest*
# For babel, is a different story, and for now only way to fix it's issues is to use
# public-hoist-pattern rule.
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=big.js
public-hoist-pattern[]=*cypress*
public-hoist-pattern[]=*shelljs*
public-hoist-pattern[]=*rollup*
