# Defaults, add explicitly
auto-install-peers=true
bail=true
enable-modules-dir=true
dedupe-peer-dependents=false
extend-node-path=false
hoist=true
link-workspace-packages=true
node-linker=isolated
package-lock=true
shared-workspace-lockfile=true
workspace-concurrency=4
strict-peer-dependencies=false
shamefully-hoist=true

hoist-pattern[]=*

public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*enzyme*
public-hoist-pattern[]=*jest*
# packages mime and make-dir added because of PWT configs/rollup-plugin-assets.js
# remove once this plugin replaced with official one
public-hoist-pattern[]=mime
public-hoist-pattern[]=make-dir
# For babel, is a different story, and for now only way to fix it's issues is to use
# public-hoist-pattern rule.
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=big.js
public-hoist-pattern[]=*cypress*
public-hoist-pattern[]=*shelljs*
public-hoist-pattern[]=*rollup*
public-hoist-pattern[]=@types/node
public-hoist-pattern[]=@types/big.js
