.widget-signature {
    &-wrapper {
        overflow: hidden;
        padding: 0 !important;
    }

    &-canvas {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: transparent;
    }

    .alert {
        position: absolute;
    }

    .size-box-inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .form-control.disabled {
        opacity: 1;
        background-color: var(--form-input-bg-disabled);
        cursor: not-allowed;
        pointer-events: none;
    }
}
