.widget-signature-preview {
    &-wrapper {
        overflow: hidden;
    }

    .alert {
        position: absolute;
    }

    .size-box-inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        & > .size-box-inner {
            align-content: center;
            text-align: center;
        }
    }

    .form-control.disabled {
        opacity: 1;
        background-color: var(--form-input-bg-disabled);
        cursor: not-allowed;
        pointer-events: none;
    }
}
