.widget-info-tooltip {
    position: relative;
    float: right;
    z-index: 1;
    top: 8px;
    right: 8px;
    font-size: 16px;
    color: #0595DB;
    cursor: pointer;

    .widget-info-tooltip-info {
        position: absolute;
        right: 5px;
        margin-top: 5px;
        cursor: default;

        .alert-info {
            font-family: sans-serif;
            font-size: 13px;
            color: #333;
            font-weight: normal;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}
