// Atlas UI compatible variable naming for data widgets
$gray-200: #e3e3e5 !default;
$spacing-small: 8px !default;
$focus-outline: 2px solid #264ae5 !default;
$focus-outline-offset: 2px !default;

.swiper {
    --swiper-navigation-size: 30px;
    --swiper-navigation-color: var(--brand-primary);
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    border-radius: 50%;
    background-color: var(--gray-200, $gray-200);
    padding: var(--spacing-small, $spacing-small);

    &:focus {
        outline: var(--focus-outline, $focus-outline);
        outline-offset: var(--focus-outline-offset, $focus-outline-offset);
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.widget-carousel-loading-spinner {
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
