.widget-charts-playground {
    .widget-charts-playground-toggle {
        .btn {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 50;
        }
    }

    &.playground-open {
        .main-svg {
            border: 1px solid #66afe9;
            border-radius: 5px;
            box-sizing: content-box;
        }
    }

    .widget-charts-playground-help {
        padding: 5px;

        .alert {
            padding: 8px;
        }
    }

    .widget-sidebar {
        .sidebar-content-header {
            .header-content {
                display: flex;
                padding-left: 30px;

                .sidebar-header-tools {
                    width: 100%;
                    display: flex;

                    button {
                        margin-left: 15px;
                    }
                }
            }
        }

        .sidebar-content-body > .info-tooltip {
            position: relative;
            float: right;
            top: 8px;
            right: 8px;
            z-index: 5;
            background: none;
            border: none;

            & > .info-tooltip-icon {
                height: 16px;
                width: 16px;
            }

            & > .info-tooltip-info {
                position: absolute;
                right: 5px;
                margin-top: 5px;
                cursor: default;

                & > .info-tooltip-info-content {
                    text-align: left;
                }
            }
        }
    }
}
