.widget-charts-playground {
    .widget-charts-playground-toggle {
        .btn {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 50;
        }
    }

    &.playground-open {
        .main-svg {
            border: 1px solid #66afe9;
            border-radius: 5px;
            box-sizing: content-box;
        }
    }

    .widget-charts-playground-help {
        padding: 5px;

        .alert {
            padding: 8px;
        }
    }

    .widget-sidebar {
        .sidebar-content-header {
            .header-content {
                display: flex;
                padding-left: 30px;

                .sidebar-header-tools {
                    width: 100%;
                    display: flex;

                    button {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

.info-tooltip {
    position: relative;
    background: #172c89;
    color: white;
    border: none;
    z-index: 5;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-family: system-ui, monospace;
    font-weight: bold;

    & > .info-tooltip-info {
        position: absolute;
        right: 5px;
        margin-top: 5px;
        cursor: default;

        & > .info-tooltip-info-content {
            text-align: left;
        }
    }
}
