.widget-sidebar {
    --sidebar-border-s: 1px;
    --sidebar-h: 100vh;
    --sidebar-w: 500px;
    --content-header-h: 55px;
    --panel-header-1: 96px;
    --panel-header-2: 36px;
    --top-panel-h: 500px;
    --panel-border-color: #d2d6de;

    --content-body-h: calc(var(--sidebar-h) - (var(--sidebar-border-s) * 2) - var(--content-header-h));
    --bottom-panel-h: calc(var(--content-body-h) - var(--top-panel-h));
    --editor-h: calc(var(--top-panel-h) - var(--panel-header-1));
    --static-settings-h: calc(var(--content-body-h) - var(--top-panel-h) - var(--panel-header-2));

    color: #5e5e5e;
    background: #fff;
    border: var(--sidebar-border-s) solid var(--panel-border-color);
    position: fixed;
    padding-top: 0;
    top: 0;
    right: calc(-1 * var(--sidebar-w));
    width: var(--sidebar-w);
    height: var(--sidebar-h);
    min-height: 400px;
    overflow-x: hidden;
    z-index: 1010;
    -webkit-transition: right 0.3s ease-in-out;
    -o-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;

    &.widget-sidebar-open {
        right: 0;

        .overlay {
            visibility: visible;
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar-content {
        height: 100%;
        position: relative;

        .sidebar-content-header {
            height: var(--content-header-h);
            padding: 8px;
            border-bottom: 1px solid #ddd;
            background: #f5f5f5;

            .close-button {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;

                .removeIcon {
                    height: 24px;
                    width: 24px;
                }
            }

            select {
                &.form-control {
                    option {
                        background-color: #fff;
                    }
                }
            }
        }

        .sidebar-content-body {
            height: var(--content-body-h);
        }
    }
}

.widget-custom-config {
    height: var(--top-panel-h);

    .widget-panel-header {
        justify-content: space-between;
    }
}

.widget-modeler-config {
    height: var(--bottom-panel-h);
    display: flex;
    flex-flow: column nowrap;

    pre {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .widget-sidebar {
        padding-top: 0;

        &.widget-sidebar-open {
            width: 100%;
        }
    }
}

.replaced-config {
    position: absolute;

    &:after {
        position: absolute;
        left: 0;
        top: 50%;
        height: 1px;
        background: #000;
        content: "";
        width: 100%;
        display: block;
    }
}
