$ls-brand-primary: #264ae5;
$ls-white: #ffffff;

.navbar-brand {
    .widget-language-selector {
        .current-language-text,
        .language-arrow {
            color: var(--bg-color-secondary, $ls-white);
            .arrow-image {
                filter: invert(1);
            }
        }
    }
}

.widget-language-selector {
    .popupmenu-trigger {
        display: flex;
        align-items: center;
    }
    :focus {
        border-radius: 2px;
        outline: 2px solid var(--brand-primary, $ls-brand-primary);
        outline-offset: 4px;
    }
    .language-arrow {
        display: inline-flex;
        transition: transform 0.2s ease-in-out 50ms;
        .arrow-image {
            background-image: url(../assets/arrow_black.svg);
            background-repeat: no-repeat;
            height: 14px !important;
            width: 14px;
            margin-top: 2px;
            &.arrow-up {
                transform: rotate(180deg);
            }
        }
    }
    .current-language-text {
        margin-right: 6px;
        font-size: 14px;
    }
    .popupmenu-menu {
        background: var(--bg-color-secondary, $ls-white);
        display: flex;
        padding: 4px;
        .popupmenu-basic-item {
            &.active {
                font-weight: 600;
            }
            &.hover,
            &.highlighted {
                background: #f5f6f6;
            }
            &:focus {
                border-radius: 8px;
                outline: 2px solid var(--brand-primary, $ls-brand-primary);
                outline-offset: 0;
            }
        }
    }
}
