$primary-border: #264ae5;
$separator-border: #808080;
$typography-color: #3b4251;
$box-shadow-color: rgba(0, 0, 0, 0.2);
$selected-item: #e6eaff;
$highlighted-index: #f5f6f6;
$unselected-item: #ffffff;

.widget-dropdown {
    flex-grow: 1;
    transition: color 150ms ease 0s;
    &-menu {
        position: absolute;
        display: inline;
        border-radius: 7px;
        margin: 4px 0 0 0;
        left: unset;
        padding: 0;
        left: unset;
        padding: 0;
        overflow: hidden;
        z-index: 20;
        box-shadow: 0px 0px 10px 0px $box-shadow-color;
        list-style-type: "none";
    }

    &.hidden {
        display: none;
    }

    &-item {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        cursor: pointer;
        user-select: none;
        padding: 3px 0 3px 10px;
        height: fit-content;
        overflow: hidden;
        color: $typography-color;
        background-color: $unselected-item;
        &.selected {
            background-color: $selected-item;
        }
        &.highlighted {
            background-color: $highlighted-index;
        }
    }

    &-input-container {
        flex-grow: 1;
        transition: box-shadow 150ms ease 0s;
        &:hover {
            box-shadow: 0px 0px 7px 0px $box-shadow-color;
        }
        &.active {
            border: 1px solid $primary-border;
        }
    }

    &-input {
        flex-grow: 1;
        border: none;
    }

    &-clear-button {
        border: none;
        transition: fill 150ms ease 0s;
        background: transparent;
    }
    &-down-arrow {
        display: flex;
        align-content: center;
        transition: fill 150ms ease 0s;
        border-left: 1px solid $separator-border;
        padding-left: 4px;
    }

    &-placeholder {
        background-color: transparent;
        flex-grow: 1;
    }
}
