$root: widget-document-viewer;
$cb-skeleton-light: rgba(194, 194, 194, 0.2);
$cb-skeleton-dark: #d2d2d2;
:root {
    --document-viewer-negative-margin: calc(-1 * var(--form-input-padding-x));
    --default-zoom-scale: 1;
}

div.widget-document-viewer {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color-default, #ced0d3);
    border-radius: var(--border-radius-default);

    &-controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: calc(-1 * var(--form-input-padding-y)) calc(-1 * var(--form-input-padding-x));
        margin-bottom: 0;
        padding: var(--spacing-medium) var(--spacing-large);
        background-color: var(--gray-lighter);
        border-bottom: 1px solid var(--border-color-default, #ced0d3);
        border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;

        &-left {
            position: relative;
            height: 50px;
            flex: 1;

            .document-title {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: var(--font-size-default);
                align-content: center;
            }
        }

        &-icons {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: fit-content;
        }
    }

    &-content {
        margin: var(--spacing-large);
        padding: var(--spacing-medium);
        border: 1px solid var(--gray-darker);
        border-radius: var(--border-radius-default);
        overflow: auto;
    }

    &-pagination {
        display: flex;
        align-items: center;
        & > *:not(:last-child) {
            margin-right: var(--spacing-small);
        }
    }

    &-zoom-container {
        transform: scale(var(--current-zoom-scale, --default-zoom-scale));
        transform-origin: 0 0;
    }

    &-loading {
        animation: skeleton-loading 1s linear infinite alternate;
        background: linear-gradient(90deg, $cb-skeleton-light 0%, $cb-skeleton-dark 100%);
        background-size: 300% 100%;
        border-radius: 4px;
        height: 16px;
        width: 148px;
    }
}

@keyframes skeleton-loading {
    0% {
        background-position: right;
    }
}
