.widget-file-uploader {
    --bg-color-default: #f8f8f8;
    --border-color-default: #ced0d3;

    --bg-color-active: #e6eaff;
    --border-color-active: #264ae5;

    --bg-color-warning: #fbedd2;
    --border-color-warning: #eca51c;

    --bg-color-error: #f9d9dc;
    --border-color-error: #e33f4e;

    --grey-text: #6c7180;
}

/*
Place your custom CSS here
*/
.widget-file-uploader {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    .dropzone {
        cursor: default;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 1em;

        height: 106px;

        border-radius: 5px;
        border: 1.5px dashed var(--border-color-default);
        background-color: var(--bg-color-default);

        &:hover {
            border: 1.5px dashed var(--border-color-active);
            .upload-text {
                color: var(--border-color-active);
                text-decoration: underline;
            }
        }

        &:active {
            border: 1.5px dashed #24276c;
            .upload-text {
                color: #24276c;
                text-decoration: underline;
            }
        }

        &.warning {
            border: 1.5px dashed var(--border-color-warning);
            background-color: var(--bg-color-warning);
        }
        &.error {
            border: 1.5px dashed var(--border-color-error);
            background-color: var(--bg-color-error);
        }
        &.active {
            border: 1.5px solid var(--border-color-active);
            background-color: var(--bg-color-active);
        }

        .file-icon {
            flex: 0 0 34px;
            background-image: url(../assets/file-icon.svg);
            background-repeat: no-repeat;
            height: 34px;
            width: 28px;
            margin: 5px;
        }

        .upload-text {
            font-size: 12px;
            line-height: 17px;
            font-weight: 400;
            color: var(--grey-text);
        }
    }

    .dropzone-message {
        font-size: 12px;
        line-height: 17px;
        color: #8f620b;

        padding-left: 18px;
        margin-bottom: 1em;

        background-image: url(../assets/warning-icon.svg);
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: center;
    }

    .files-list {
        flex: 1;
        display: flex;
        flex-direction: column;

        .file-entry {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;

            border: 1px solid var(--border-color-default);
            border-radius: 4px;
            padding: 10px;

            &:not(.removed):not(.invalid):hover {
                pointer-events: all;
                cursor: pointer;
                background-color: var(--bg-color-default);
                border-color: var(--border-color-active);

                .download-icon {
                    background-image: url(../assets/view-icon-hover.svg);
                }
            }

            &:not(.removed):not(.invalid):active {
                .download-icon {
                    background-image: url(../assets/view-icon-active.svg);
                }
            }

            .download-icon {
                height: 24px;
                width: 24px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url(../assets/view-icon.svg);
            }

            .entry-details {
                flex: 1;

                display: flex;

                .entry-details-preview {
                    flex: 0 0;
                    flex-basis: 36px;
                    height: 36px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    margin-right: 8px;

                    &.preview-icon {
                        border-radius: 4px;
                        border: 1px solid var(--bg-color-active);
                        background-color: var(--bg-color-active);
                    }

                    .image-preview {
                        border-radius: 4px;
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }

                .entry-details-main {
                    flex: 1;
                    display: flex;
                    font-size: 11px;
                    flex-direction: column;

                    .entry-details-main-name {
                        flex: 1;
                        font-weight: 600;
                        color: #3b4251;
                    }

                    .entry-details-main-size {
                        flex: 1;
                        font-weight: 400;
                        color: var(--grey-text);
                    }
                }

                .entry-details-actions {
                    flex: 0 0 min-content;
                    align-self: center;
                    min-width: 32px;
                    height: 32px;

                    display: flex;

                    align-items: center;

                    .action-button {
                        width: 32px;
                        text-decoration: none;
                        border-color: transparent;
                        background-color: transparent;
                    }

                    .remove-icon {
                        height: 24px;
                        width: 24px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-image: url(../assets/remove-icon.svg);

                        &:hover {
                            background-image: url(../assets/remove-icon-hover.svg);
                        }

                        &:active {
                            background-image: url(../assets/remove-icon-active.svg);
                        }

                        &.disabled {
                            display: none;
                        }
                    }
                }
            }

            .entry-progress {
                flex: 1;
                .progress-bar {
                    --progress-bar-percentage: 0; /* to be overridden from inline styles */

                    height: 4px;
                    border-radius: 2px;
                    background-color: #f0f1f2;
                    margin: 5px 0;
                    width: 100%;
                    overflow: hidden;

                    .progress-bar-indicator {
                        height: 4px;
                        border-radius: 2px;
                        background-color: var(--border-color-active);
                        transition: width 0.5s;
                    }

                    &.active-indeterminate {
                        .progress-bar-indicator {
                            width: 20%;
                            animation: progress-loading 2s infinite ease;
                        }
                    }

                    &.active {
                        .progress-bar-indicator {
                            width: var(--progress-bar-percentage);
                        }
                    }
                }
            }

            .entry-upload-info {
                flex: 0;
                line-height: 15px;
                .upload-status {
                    color: var(--grey-text);
                    font-size: 10px;

                    &.success {
                        color: #3cb33d;
                    }
                    &.error {
                        color: #e33f4e;
                    }
                }
            }

            &.removed {
                opacity: 0.4;
                .download-icon {
                    visibility: hidden;
                }
            }

            &.invalid {
                opacity: 0.7;
                .download-icon {
                    visibility: hidden;
                }
            }
        }
    }
}

@keyframes progress-loading {
    0% {
        margin-left: -100%;
    }
    50% {
        margin-left: 0%;
    }
    100% {
        margin-left: 100%;
    }
}
