.doc-file-icon {
    background-image: url(../assets/file-icons/doc-file.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 24px;
    width: 24px;
}
.img-file-icon {
    background-image: url(../assets/file-icons/img-file.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 24px;
    width: 24px;
}
