$file-bg-color: #f8f8f8;
$file-border-color-default: #ced0d3;
$file-color-primary-light: #e6eaff;
$file-brand-primary: #264ae5;
$file-color-warning-light: #fbedd2;
$file-brand-warning: #eca51c;
$file-color-danger-light: #f9d9dc;
$file-brand-danger: #e33f4e;
$file-gray-light: #6c7180;
$file-brand-success: #3cb33d;

$file-icon: url(../assets/file-icon.svg);
$file-warning-icon: url(../assets/warning-icon.svg);
$file-view-icon: url(../assets/view-icon.svg);
$file-view-icon-hover: url(../assets/view-icon-hover.svg);
$file-view-icon-active: url(../assets/view-icon-active.svg);
$file-remove-icon: url(../assets/remove-icon.svg);
$file-remove-icon-hover: url(../assets/remove-icon-hover.svg);
$file-remove-icon-active: url(../assets/remove-icon-active.svg);

/*
Place your custom CSS here
*/
.widget-file-uploader {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    .dropzone {
        cursor: default;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 1em;

        height: 106px;

        border-radius: 5px;
        border: 1.5px dashed var(--border-color-default, $file-border-color-default);
        background-color: var(--bg-color, $file-bg-color);

        &:hover,
        &:focus {
            border: 1.5px dashed var(--brand-primary, $file-brand-primary);
            .upload-text {
                color: var(--brand-primary, $file-brand-primary);
                text-decoration: underline;
            }
        }

        &:active {
            border: 1.5px dashed #24276c;
            .upload-text {
                color: #24276c;
                text-decoration: underline;
            }
        }

        &.warning {
            border: 1.5px dashed var(--brand-warning, $file-brand-warning);
            background-color: var(--color-warning-light, $file-color-warning-light);
        }
        &.error {
            border: 1.5px dashed var(--brand-danger, $file-brand-danger);
            background-color: var(--color-danger-light, $file-color-danger-light);
        }

        .file-icon {
            flex: 0 0 34px;
            background-image: var(--file-icon, $file-icon);
            background-repeat: no-repeat;
            height: 34px;
            width: 28px;
            margin: 5px;
        }

        .upload-text {
            font-size: 12px;
            line-height: 17px;
            font-weight: 400;
            color: var(--gray-light, $file-gray-light);
        }
    }

    .dropzone-message {
        font-size: 12px;
        line-height: 17px;
        color: #8f620b;

        padding-left: 18px;
        margin-bottom: 1em;

        background-image: var(--file-warning-icon, $file-warning-icon);
        background-repeat: no-repeat;
        background-position-x: left;
        background-position-y: center;
    }

    .files-list {
        flex: 1;
        display: flex;
        flex-direction: column;

        .file-entry {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;

            border: 1px solid var(--border-color-default, $file-border-color-default);
            border-radius: 4px;
            padding: 10px;

            &:not(.removed):not(.invalid) {
                &:hover,
                &:focus {
                    &:not(:has(.action-button:hover)) {
                        pointer-events: all;
                        cursor: pointer;
                        background-color: var(--bg-color, $file-bg-color);
                        border-color: var(--brand-primary, $file-brand-primary);

                        .download-icon {
                            background-image: var(--file-view-icon-hover, $file-view-icon-hover);
                        }
                    }
                }
            }

            &:not(.removed):not(.invalid):active:not(:has(.action-button:active)) {
                .download-icon {
                    background-image: var(--file-view-icon-active, $file-view-icon-active);
                }
            }

            .download-icon {
                height: 24px;
                width: 24px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: var(--file-view-icon, $file-view-icon);
            }

            .entry-details {
                flex: 1;

                display: flex;

                .entry-details-preview {
                    flex: 0 0;
                    flex-basis: 36px;
                    height: 36px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    margin-right: 8px;

                    &.preview-icon {
                        border-radius: 4px;
                        border: 1px solid var(--color-primary-light, $file-color-primary-light);
                        background-color: var(--color-primary-light, $file-color-primary-light);
                    }

                    .image-preview {
                        border-radius: 4px;
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }

                .entry-details-main {
                    flex: 1;
                    display: flex;
                    font-size: 11px;
                    flex-direction: column;
                    min-width: 0;

                    .entry-details-main-name {
                        flex: 1;
                        font-weight: 600;
                        color: #3b4251;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    .entry-details-main-size {
                        flex: 1;
                        font-weight: 400;
                        color: var(--gray-light, $file-gray-light);
                    }
                }

                .entry-details-actions {
                    flex: 0 0 min-content;
                    align-self: center;
                    min-width: 32px;
                    height: 32px;

                    display: flex;

                    align-items: center;

                    .action-button {
                        width: 32px;
                        text-decoration: none;
                        border-color: transparent;
                        background-color: transparent;

                        &:hover,
                        &:focus {
                            .remove-icon {
                                background-image: var(--file-remove-icon-hover, $file-remove-icon-hover);
                            }
                        }

                        &:active {
                            .remove-icon {
                                background-image: var(--file-remove-icon-active, $file-remove-icon-active);
                            }
                        }

                        &.disabled {
                            display: none;
                        }
                    }

                    .remove-icon {
                        height: 24px;
                        width: 24px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-image: var(--file-remove-icon, $file-remove-icon);
                    }
                }
            }

            .entry-progress {
                flex: 1;
                .progress-bar {
                    --progress-bar-percentage: 0; /* to be overridden from inline styles */

                    height: 4px;
                    border-radius: 2px;
                    background-color: #f0f1f2;
                    margin: 5px 0;
                    width: 100%;
                    overflow: hidden;

                    .progress-bar-indicator {
                        height: 4px;
                        border-radius: 2px;
                        background-color: var(--brand-primary, $file-brand-primary);
                        transition: width 0.5s;
                    }

                    &.active-indeterminate {
                        .progress-bar-indicator {
                            width: 20%;
                            animation: progress-loading 2s infinite ease;
                        }
                    }

                    &.active {
                        .progress-bar-indicator {
                            width: var(--progress-bar-percentage);
                        }
                    }
                }
            }

            .entry-upload-info {
                flex: 0;
                line-height: 15px;
                .upload-status {
                    color: var(--gray-light, $file-gray-light);
                    font-size: 10px;

                    &.success {
                        color: var(--brand-success, $file-brand-success);
                    }
                    &.error {
                        color: var(--brand-danger, $file-brand-danger);
                    }
                }
            }

            &.removed {
                opacity: 0.4;
                .download-icon {
                    visibility: hidden;
                }
                .entry-details-actions {
                    display: none;
                }
            }

            &.invalid {
                opacity: 0.7;
                .download-icon {
                    visibility: hidden;
                }
                .entry-details-actions {
                    display: none;
                }
            }
        }
    }
}

@keyframes progress-loading {
    0% {
        margin-left: -100%;
    }
    50% {
        margin-left: 0%;
    }
    100% {
        margin-left: 100%;
    }
}
