.table-compact {
    .th {
        padding: $spacing-small;

        .filter-selectors {
            margin: 0 $spacing-small;
        }
    }

    &:has(.th .column-container .filter:not(:empty)) {
        .th {
            &.column-selector {
                padding: $spacing-small 0;
            }
            &.widget-datagrid-col-select {
                padding-bottom: calc($spacing-small + 11px);
            }
        }
    }

    .td {
        padding: $spacing-small;
    }

    .dropdown-container .dropdown-list {
        margin: 0 $spacing-small;
    }

    .column-selector {
        /* Column content */
        .column-selector-content {
            padding-right: $spacing-small;
        }
    }
}

.table-striped {
    .tr:nth-child(odd) > .td {
        background-color: $grid-bg-striped;
    }
}

.table-hover {
    .tr:hover > .td {
        background-color: $grid-bg-hover;
    }
}

.table-bordered-all {
    .th,
    .td {
        border-left-width: 1px;
        border-left-style: solid;

        // Column for the visibility when a column can be hidden
        &.column-selector {
            border-left-width: 0;
        }

        &:last-child,
        &.column-selector {
            border-right-width: 1px;
            border-right-style: solid;
        }
    }
    .th {
        border-top-width: 1px;
        border-top-style: solid;
    }

    .td {
        border-bottom-width: 1px;
        border-bottom-style: solid;

        &.td-borders {
            border-top-width: 1px;
        }
    }
}

.table-bordered-horizontal {
    .td {
        border-bottom-width: 1px;
        border-bottom-style: solid;

        &.td-borders {
            border-top-width: 1px;
        }
    }
}

.table-bordered-vertical {
    .th,
    .td {
        border-left-width: 1px;
        border-left-style: solid;
        border-bottom-width: 0;

        // Column for the visibility when a column can be hidden
        &.column-selector {
            border-left-width: 0;
            border-bottom-width: 0;
            border-right-width: 1px;
            border-right-style: solid;
        }

        &.td-borders {
            border-top-width: 0;
        }
    }
}

.table-bordered-none {
    .td,
    .th {
        border: 0;

        &.column-selector {
            border: 0;
        }

        &.td-borders {
            border: 0;
        }
    }
}
