/* ==========================================================================
   Gallery

   Override styles of Gallery widget
========================================================================== */
$gallery-screen-lg: $screen-lg;
$gallery-screen-md: $screen-md;

@mixin grid-items($number, $suffix) {
    @for $i from 1 through $number {
        &.widget-gallery-#{$suffix}-#{$i} {
            grid-template-columns: repeat($i, minmax(0, 1fr));
        }
    }
}

@mixin grid-span($number, $type) {
    @for $i from 1 through $number {
        .widget-gallery-#{$type}-span-#{$i} {
            grid-#{$type}: span $i;
        }
    }
}

.widget-gallery {
    --gallery-gap: var(--spacing-small, $gallery-gap);

    .widget-gallery-items {
        display: grid;
        grid-gap: var(--gallery-gap);

        /*
         Desktop widths
         */
        @media screen and (min-width: $gallery-screen-lg) {
            @include grid-items(12, "lg");
        }

        /*
         Tablet widths
         */
        @media screen and (min-width: $gallery-screen-md) and (max-width: ($gallery-screen-lg - 1px)) {
            @include grid-items(12, "md");
        }

        /*
         Phone widths
         */
        @media screen and (max-width: ($gallery-screen-md - 1)) {
            @include grid-items(12, "sm");
        }
    }

    .widget-gallery-clickable {
        cursor: pointer;

        &:focus:not(:focus-visible) {
            outline: none;
        }

        &:focus-visible {
            outline: 1px solid var(--brand-primary, $brand-primary);
            outline-offset: -1px;
        }
    }

    &:not(.widget-gallery-disable-selected-items-highlight) {
        .widget-gallery-item.widget-gallery-clickable.widget-gallery-selected {
            background: $brand-light;
        }
    }

    .infinite-loading {
        overflow: auto;
    }

    .widget-gallery-filter,
    .widget-gallery-empty {
        flex: 1;
    }

    &-top-bar {
        container: widget-gallery-header / inline-size;
    }

    &-footer {
        container: widget-gallery-footer / inline-size;
    }

    /**
     Helper classes
      */
    @include grid-span(12, "column");
    @include grid-span(12, "row");
}

.widget-gallery-item-button {
    width: inherit;
}

:where(.widget-gallery-footer-controls, .widget-gallery-top-bar-controls) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

:where(.widget-gallery-fc-end, .widget-gallery-tb-end) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

:where(.widget-gallery-fc-start, .widget-gallery-tb-start, .widget-gallery-fc-end, .widget-gallery-tb-end) {
    flex-grow: 1;
    flex-basis: 33.33%;
    min-height: 20px;
    height: 54px;
    padding: var(--spacing-small) 0;
}

:where(.widget-gallery-fc-start, .widget-gallery-tb-start) {
    padding-inline: var(--spacing-medium);
    display: flex;
    align-items: center;
}

.widget-gallery-clear-selection {
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: underline;
    color: var(--link-color);
    padding: 0;
    display: inline-block;

    &:focus:not(:focus-visible) {
        outline: none;
    }

    &:focus-visible {
        outline: 1px solid var(--brand-primary, $brand-primary);
        outline-offset: 2px;
    }
}

@container widget-gallery-footer (width < 500px) {
    .widget-gallery-footer-controls {
        flex-direction: column;
        :where(.widget-gallery-fc-start, .widget-gallery-fc-end, .widget-gallery-fc-middle) {
            width: 100%;
            justify-content: center;
        }
    }
}

@container widget-gallery-header (width < 500px) {
    .widget-gallery-top-bar-controls {
        flex-direction: column-reverse;
        :where(.widget-gallery-tb-start, .widget-gallery-tb-end) {
            width: 100%;
            justify-content: center;
        }
    }
}
