.pagination-bar {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    align-items: baseline;
    color: $pagination-caption-color;

    .paging-status {
        padding: 0 8px 0;
    }

    .pagination-button {
        padding: 6px;
        color: var(--gray-darker, $gray-darker);
        border-color: transparent;
        background-color: transparent;

        &:hover {
            color: var(--brand-primary, $brand-primary);
            border-color: transparent;
            background-color: transparent;
        }

        &:disabled {
            border-color: transparent;
            background-color: transparent;
        }

        &:focus:not(:focus-visible) {
            outline: none;
        }

        &:focus-visible {
            outline: 1px solid var(--brand-primary, $brand-primary);
        }
    }
    .pagination-icon {
        position: relative;
        top: 4px;
        display: inline-block;
        width: 20px;
        height: 20px;
    }
}
