.mx-refresh-container {
    grid-column: 1 / -1;
    padding: 0;
    position: relative;

    &-padding {
        padding: var(--spacing-small) 0;
    }
}

.mx-refresh-indicator {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--border-color-default, #ced0d3);
    border: none;
    border-radius: 2px;
    color: var(--brand-primary, $dg-brand-primary);
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;

    &::-webkit-progress-bar {
        background-color: transparent;
    }

    &::-webkit-progress-value {
        background-color: currentColor;
        transition: all 0.2s;
    }

    &::-moz-progress-bar {
        background-color: currentColor;
        transition: all 0.2s;
    }

    &::-ms-fill {
        border: none;
        background-color: currentColor;
        transition: all 0.2s;
    }

    &:indeterminate {
        background-size: 200% 100%;
        background-image: linear-gradient(
            to right,
            transparent 50%,
            currentColor 50%,
            currentColor 60%,
            transparent 60%,
            transparent 71.5%,
            currentColor 71.5%,
            currentColor 84%,
            transparent 84%
        );
        animation: progress-linear 3s infinite linear;
    }

    &:indeterminate::-moz-progress-bar {
        background-color: transparent;
    }

    &:indeterminate::-ms-fill {
        animation-name: none;
    }

    @keyframes progress-linear {
        0% {
            background-size: 200% 100%;
            background-position: left -31.25% top 0%;
        }
        50% {
            background-size: 800% 100%;
            background-position: left -49% top 0%;
        }
        100% {
            background-size: 400% 100%;
            background-position: left -102% top 0%;
        }
    }
}
