@use "~@rc-component/slider/assets/index.css";
@use "~@rc-component/tooltip/assets/bootstrap.css";

.widget-slider {
    padding: 4px 8px;
    margin-bottom: 16px;
    flex-grow: 1;

    .rc-slider-disabled {
        background-color: initial;
    }

    .rc-slider-handle {
        opacity: 1;
    }

    &.widget-slider-vertical {
        height: 100%;
    }
}
