.widget-tooltip {
    &-trigger {
        width: fit-content;
    }
}

.widget-tooltip-content {
    color: #24276c;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 3px;
    background-color: white;
    padding: 6px;
    z-index: 50;
    white-space: break-spaces;
    word-break: break-word;
}

[class^="widget-tooltip-arrow"],
[class^="widget-tooltip-arrow"]::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
    box-shadow: 1px -1px 1px rgb(0 0 0 / 10%);
}

.widget-tooltip-arrow {
    &-left {
        left: -8px;
        &:before {
            box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
        }
    }
    &-bottom {
        bottom: -3px;
        &:before {
            box-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
        }
    }

    &-top {
        top: -4px;
        &:before {
            box-shadow: -1px -1px 1px rgb(0 0 0 / 10%);
        }
    }

    &-right {
        right: 1px;
    }
}

[class^="widget-tooltip-arrow"]::before {
    visibility: visible;
    content: "";
    transform: rotate(45deg);
}

[class^="widget-tooltip-arrow"] {
    visibility: hidden;
}
