.widget-custom-chart {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .svg-container {
        .main-svg {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
