$spacing-smaller: 4px;
$label-info-color: #fff;
$gray-primary: #ced0d3;
$gray-lighter: #f8f8f8;
$table-background: #f2f2f2;
$tabs-bg-pills: #e7e7e9;

.widget-markdown {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex: 1;
    min-height: 200px;
    width: 100%;
    justify-content: flex-start;
    th,
    td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: $table-background;
    }

    img {
        max-width: 35%;
    }
}

.widget-markdown.preview {
    padding: 5px;
    min-height: max-content;
}
