@import "../../ui/variables";

.widget-rich-text {
    .ql-toolbar {
        .ql-picker {
            &.ql-font {
                width: 160px;
            }

            &.size.ql-size {
                width: 60px;
                .ql-picker-label,
                .ql-picker-item {
                    &::before {
                        content: attr(data-value);
                    }
                }
            }
        }

        @each $name, $font in $fonts {
            [data-value="#{$name}"]::before {
                @include font($font);
            }
        }
    }

    .ql-font {
        @each $name, $font in $fonts {
            &-#{$name} {
                @include font($font);
            }
        }
    }
}
