@use "sass:map";
@font-face {
    font-family: "RichTextIconFont";
    src: url("../assets/RichTextIconFont.woff2?v=5") format("woff2");
}

$icons: (
    Undo: "\e91a",
    Redo: "\e916",
    Text-bold: "\e926",
    Text-italic: "\e924",
    Text-color: "\e937",
    Text-background: "\e938",
    Text-align-left: "\e91d",
    Text-align-center: "\e920",
    Text-align-right: "\e922",
    Text-align-justify: "\e91b",
    List-bullets: "\e91c",
    List-numbers: "\e918",
    Text-indent-right: "\e908",
    Text-indent-left: "\e911",
    Hyperlink: "\e91e",
    Image: "\e939",
    Film: "\e93c",
    Insert-edit-math: "\e910",
    Blockquote: "\e93e",
    Left-to-right: "\e912",
    Right-to-left: "\e913",
    Line-height: "\e915",
    Table: "\e925",
    Add: "\e905",
    Substract: "\e917",
    Source-code: "\e90a",
    Clear-formating: "\e927",
    Text-underline: "\e90c",
    Text-strikethrough: "\e904",
    Text-subscript: "\e90e",
    Text-superscript: "\e903",
    List-lower-alpha: "\e902",
    Arrow-down: "\e928",
    List-checklist: "\e907",
    List-roman: "\e919",
    Inline-code: "\e909",
    View-edit-code: "\e93d",
    Code-block: "\e936",
    Expand: "\e900",
    Align-middle: "\e901",
    Align-bottom: "\e914",
    Align-top: "\e906",
    Cell: "\e929",
    Check: "\e923",
    Close: "\e90d",
    Erase: "\e90b",
    Delete: "\e933",
    Copy: "\e921",
    Column: "\e932",
    Row: "\e92a",
    Save: "\e91f",
    Merge: "\e934",
    Wrap: "\e90f",
    Palette: "\e935",
    Delete-column: "\e92d",
    Delete-row: "\e931",
    Insert-column-after: "\e92b",
    Insert-column-before: "\e930",
    Insert-row-before: "\e92e",
    Insert-row-after: "\e92c",
    Split-cell: "\e93a",
    Delete-table: "\e92f",
    Table-configuration: "\e93b",
    Help: "\e93f"
);

.widget-rich-text {
    .widget-rich-text-toolbar button.icons {
        svg {
            display: none;
        }
    }

    .icons {
        font-family: "RichTextIconFont" !important;
        font-size: 16px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @each $name, $code in $icons {
            &.icon-#{$name}:before {
                content: $code;
            }
        }
    }
}
