$rte-border-color-default: #ced0d3;
$rte-gray-ligher: #f8f8f8;

.widget-rich-text {
    .ql-container {
        border: unset;
    }

    .widget-rich-text-container {
        border: 1px solid var(--border-color-default, $rte-border-color-default);
    }

    &.editor-readPanel {
        background-color: transparent;
        .widget-rich-text-container {
            border: unset;
        }
    }

    &.editor-text {
        .ql-toolbar {
            pointer-events: none;
            background-color: var(--gray-lighter, $rte-gray-ligher);
        }
    }

    .ql-editor li[data-list="ordered"][data-custom-list="lower-alpha"] {
        counter-increment: custom-list-alpha;
        & > .ql-ui:before {
            content: counter(custom-list-alpha, lower-alpha) ". ";
        }
    }
}
