$font-andale-mono: "andale mono", monospace;
$font-arial: arial, helvetica, sans-serif;
$font-arial-black: "arial black", sans-serif;
$font-book-antiqua: "book antiqua", palatino, serif;
$font-comic-sans: "comic sans ms", sans-serif;
$font-courier-new: "courier new", courier, monospace;
$font-helvetica: helvetica, arial, sans-serif;
$font-impact: impact, sans-serif;
$font-symbol: symbol;
$font-terminal: terminal, monaco, monospace;
$font-times-new-roman: "times new roman", times, serif;
$font-trebuchet: "trebuchet ms", geneva, sans-serif;

$fonts: (
    andale-mono: $font-andale-mono,
    arial: $font-arial,
    arial-black: $font-arial-black,
    book-antiqua: $font-book-antiqua,
    comic-sans: $font-comic-sans,
    courier-new: $font-courier-new,
    helvetica: $font-helvetica,
    impact: $font-impact,
    symbol: $font-symbol,
    terminal: $font-terminal,
    times-new-roman: $font-times-new-roman,
    trebuchet: $font-trebuchet
);

@mixin font($font) {
    font-family: $font;
}

$font-sizes: (8px, 9px, 10px, 12px, 14px, 16px, 20px, 24px, 32px, 42px, 54px, 68px, 84px, 98px);

// https://github.com/slab/quill/blob/main/packages/quill/src/themes/base.ts
$colors: (
    #000000,
    #e60000,
    #ff9900,
    #ffff00,
    #008a00,
    #0066cc,
    #9933ff,
    #ffffff,
    #facccc,
    #ffebcc,
    #ffffcc,
    #cce8cc,
    #cce0f5,
    #ebd6ff,
    #bbbbbb,
    #f06666,
    #ffc266,
    #ffff66,
    #66b966,
    #66a3e0,
    #c285ff,
    #888888,
    #a10000,
    #b26b00,
    #b2b200,
    #006100,
    #0047b2,
    #6b24b2,
    #444444,
    #5c0000,
    #663d00,
    #666600,
    #003700,
    #002966,
    #3d1466
);
