$cb-brand-primary: #264ae5;
$cb-gray-dark: #606671;
$cb-gray-primary: #ced0d3;
$cb-brand-secondary-light: #e6eaff;
$cb-separator-border: #787d87;
$cb-typography-color: #3b4251;
$cb-box-shadow-color: rgba(0, 0, 0, 0.2);
$cb-selected-item: #e6eaff;
$cb-highlighted-index: #f5f6f6;
$cb-unselected-item: #ffffff;
$cb-hover-color: #ced0d3;
$cb-disabled-color: #f8f8f8;
$cb-disabled-text-color: #6c7180;
$cb-menu-outer-padding: 10px;
$cb-spacing: 4px;
$cb-menu-border-radius: 7px;
$cb-skeleton-light: rgba(194, 194, 194, 0.2);
$cb-skeleton-dark: #d2d2d2;

.widget-combobox {
    flex-grow: 1;
    position: relative;
    transition: color 150ms ease 0s;
    &-menu {
        position: absolute;
        display: inline;
        border-radius: var(--dropdown-border-radius, $cb-menu-border-radius);
        margin: var(--spacing-smaller, $cb-spacing) 0 var(--spacing-smaller, $cb-spacing) 0;
        width: 100%;
        left: unset;
        padding: var(--dropdown-outer-padding, $cb-menu-outer-padding) 0 0;
        z-index: 25;
        box-shadow: 0px 0px var(--dropdown-outer-padding, $cb-menu-outer-padding) 0px
            var(--shadow-color-border, $cb-box-shadow-color);
        background-color: var(--label-info-color, $cb-unselected-item);
        list-style-type: none;
        &-list {
            padding: 0;
            margin-bottom: 0;
            max-height: 320px;
            overflow-y: auto;
            &:last-child {
                margin-bottom: var(--dropdown-outer-padding, $cb-menu-outer-padding);
            }
        }
        &-lazy-scroll {
            background:
                /* Shadow Cover TOP */ linear-gradient(white 30%, rgba(255, 255, 255, 0)) center
                    top,
                /* Shadow Cover BOTTOM */ linear-gradient(rgba(255, 255, 255, 0), white 70%) center bottom,
                /* Shadow TOP */ linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(197, 197, 197, 0.6)) center top,
                /* Shadow BOTTOM */ linear-gradient(180deg, rgba(255, 255, 255, 0.6), rgba(197, 197, 197, 0.6)) center
                    bottom;

            background-repeat: no-repeat;
            background-size: 100% 70px, 100% 70px, 100% 35px, 100% 35px;
            background-attachment: local, local, scroll, scroll;
        }
        &-hidden {
            display: none;
        }
        &-header {
            border-bottom: 1px solid var(--gray-primary, $cb-gray-primary);
            &:focus,
            &:focus-within,
            &:hover {
                background-color: var(--color-default-light, $cb-highlighted-index);
            }

            &:has(input[type="checkbox"]:hover, :focus, :focus-within)
                + .widget-combobox-menu-list:not(.widget-combobox-menu-highlighted)
                input[type="checkbox"]:not(:checked):after {
                content: "";
                border-color: var(--btn-default-bg-hover, $cb-hover-color);
            }
        }

        &-footer {
            border-top: 1px solid var(--gray-primary, $cb-gray-primary);
            padding: var(--dropdown-outer-padding, $cb-menu-outer-padding);
            &:focus,
            &:focus-within {
                outline: 1px solid var(--brand-primary, $cb-brand-primary);
            }
        }
    }

    &-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        padding: 6px var(--dropdown-outer-padding, $cb-menu-outer-padding);
        height: fit-content;
        overflow: hidden;
        color: var(--gray-darker, $cb-typography-color);

        &-selected {
            background-color: var(--color-primary-lighter, $cb-selected-item);
        }
        &-highlighted,
        &:focus {
            background-color: var(--color-default-light, $cb-highlighted-index);
        }
        & > .widget-combobox-icon-container {
            margin-right: var(--dropdown-outer-padding, $cb-menu-outer-padding);
        }

        .widget-combobox-caption-text {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            flex: 1;
            font-weight: normal;
            margin: 0;
            min-height: 20px;
        }

        &.widget-combobox-no-options {
            justify-content: center;
        }
    }

    .widget-combobox-input-container {
        flex-grow: 1;
        transition: box-shadow 150ms ease 0s;

        &-disabled {
            background-color: var(--gray-lighter, $cb-disabled-color);
            pointer-events: none !important;

            &.form-control-static {
                background-color: transparent;
            }
        }
    }

    &-input {
        color: var(--gray-dark, $cb-gray-dark);
        flex-grow: 1;
        border: none;
        padding: 0;
        width: 100%;

        &:not(:focus) {
            opacity: 0;
        }

        &-nofilter {
            cursor: pointer;
        }
    }

    &-clear-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        background: transparent;
        border: none;
        &-icon {
            transition: color 0.2s ease-in-out;
        }
        path {
            stroke-width: 0;
            transition: stroke-width 0.2s ease-in-out;
        }

        &:focus .widget-combobox-icon-container {
            border-radius: 2px;
            outline: 2px solid var(--brand-primary, $cb-brand-primary);
        }

        &:hover &-icon {
            color: var(--brand-primary, $cb-brand-primary);
            font-weight: bold;

            path {
                stroke-width: 1px;
            }
        }

        & + .widget-combobox-down-arrow {
            border-left: 1px solid var(--gray, $cb-separator-border);
        }
    }
    &-down-arrow {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        cursor: pointer;
        padding-left: var(--spacing-smaller, $cb-spacing);

        &-icon {
            transition: transform 0.2s;
            &.active {
                transform: rotate(180deg);
                transition: transform 0.2s;
            }
        }
    }

    &-placeholder {
        background-color: var(--gray-lighter, $cb-disabled-color) !important;
        justify-content: flex-end !important;
        border: 1px solid #e7e7e9;
        cursor: not-allowed;

        &-text {
            color: var(--gray-darker, $cb-typography-color);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            pointer-events: none;
            display: none;
        }

        &-empty {
            color: var(--gray-dark, $cb-gray-dark);
        }
    }

    &-caption-custom {
        flex: 1;
    }

    &-custom-content {
        position: relative;
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        .widget-combobox-input {
            &:not(:focus),
            &:placeholder-shown {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            &:focus:not(:placeholder-shown) + .widget-combobox-placeholder-custom {
                display: none;
            }
        }
    }

    &-selected {
        &-items {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            position: relative;

            &.widget-combobox-boxes {
                margin: -2px 0;
                .widget-combobox-input {
                    &-nofilter,
                    &:not(:focus) {
                        width: 1px;
                    }
                }
            }

            input:placeholder-shown,
            input:not(:focus) {
                & + .widget-combobox-placeholder-text {
                    display: block;
                }
            }
        }

        &-item {
            color: #000;
            font-size: var(--font-size-small, 12px);
            line-height: 1.334;
            display: inline-flex;
            border-radius: 26px;
            justify-content: center;
            padding: var(--spacing-smallest, 2px) var(--dropdown-outer-padding, $cb-menu-outer-padding);
            flex-wrap: wrap;
            align-items: center;
            margin: var(--spacing-smallest, 2px);
            gap: 8px;
            background-color: var(--color-primary-lighter, $cb-brand-secondary-light);
            &-remove-button {
                padding: 0px 0px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                color: var(--brand-primary, $cb-brand-primary);
                span {
                    display: flex;
                    align-items: center;
                }
            }
            &:focus-visible {
                outline: var(--brand-primary, $cb-brand-primary) auto 1px;
            }
        }
    }

    &-down-checkbox-icon {
        fill: transparent;
        &:not(.checked) {
            rect {
                stroke: var(--gray-primary, $cb-gray-primary);
            }
            &:hover,
            &:focus {
                path {
                    stroke: var(--btn-default-bg-hover, $cb-hover-color);
                    stroke-width: 2px;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                }
            }
        }
        &.checked {
            rect {
                fill: var(--brand-primary, $cb-brand-primary);
            }
            path {
                stroke: white;
                stroke-width: 2px;
                stroke-linecap: round;
                stroke-linejoin: round;
            }
        }
    }

    &-icon-container {
        display: flex;
        padding-top: 1px;
    }

    &-skeleton,
    &-spinner {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    &-skeleton {
        padding: 6px var(--dropdown-outer-padding, $cb-menu-outer-padding);

        &-loader {
            animation: skeleton-loading 1s linear infinite alternate;
            background: linear-gradient(90deg, $cb-skeleton-light 0%, $cb-skeleton-dark 100%);
            background-size: 300% 100%;
            border-radius: 4px;
            height: 16px;
            width: 148px;

            &-small {
                margin-right: 8px;
                width: 16px;
            }
        }
    }

    &-spinner {
        justify-content: center;
        width: 100%;

        &-margin {
            margin: 52px 0;
        }

        &-loader {
            --widget-combobox-spinner-loader: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
            animation: rotate 1s infinite linear;
            aspect-ratio: 1;
            background: var(--brand-primary, $cb-brand-primary);
            border-radius: 50%;
            mask: var(--widget-combobox-spinner-loader);
            mask-composite: subtract;
            padding: 3.5px;
            height: 24px;
            width: 24px;

            &-small {
                height: 16px;
                width: 16px;
                padding: 2.3px;
            }
        }
    }
}

@keyframes skeleton-loading {
    0% {
        background-position: right;
    }
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}
