$brand-primary: #264ae5;
$gray-dark: #606671;
$gray-primary: #ced0d3;
$brand-secondary-light: #e6eaff;
$separator-border: #787d87;
$typography-color: #3b4251;
$box-shadow-color: rgba(0, 0, 0, 0.2);
$selected-item: #e6eaff;
$highlighted-index: #f5f6f6;
$unselected-item: #ffffff;
$hover-color: #ced0d3;
$disabled-color: #f8f8f8;
$disabled-text-color: #6c7180;
.widget-combobox {
    flex-grow: 1;
    position: relative;
    transition: color 150ms ease 0s;
    &-menu {
        position: absolute;
        display: inline;
        border-radius: 7px;
        margin: 4px 0 0 0;
        width: 100%;
        left: unset;
        padding: 10px 0 0;
        overflow: hidden;
        z-index: 1;
        box-shadow: 0px 0px 10px 0px $box-shadow-color;
        background-color: $unselected-item;
        list-style-type: "none";
        &-list {
            padding: 0;
            margin-bottom: 0;
        }
        &-hidden {
            display: none;
        }
        &-footer {
            display: flex;
            justify-content: space-between;
            color: $brand-primary;
            border-top: 1px solid $separator-border;
            margin-top: 6px;
            &-control {
                display: flex;
                padding: 10px 12px;
                border: none;
                background-color: transparent;
                justify-content: flex-end;
                align-items: center;
                color: $brand-primary;
                cursor: pointer;
                &-disabled {
                    color: $disabled-text-color;
                }
            }
        }
    }

    &-item {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        padding: 6px 0 6px 10px;
        height: fit-content;
        overflow: hidden;
        color: $typography-color;
        background-color: $unselected-item;
        &-selected {
            background-color: $selected-item;
        }
        &-highlighted {
            background-color: $highlighted-index;
        }

        & > .icon-container {
            margin-right: 10px;
        }
    }

    &-input-container {
        flex-grow: 1;
        transition: box-shadow 150ms ease 0s;
        border: 1px solid $gray-primary !important;

        &.form-control {
            padding: 4px 8px;
        }

        &:hover {
            border: 1px solid $gray-dark !important;
        }
        &-active {
            border: 1px solid $brand-primary !important;
        }
        &-disabled {
            background-color: $disabled-color !important;
            pointer-events: none !important;
        }
    }

    &-input {
        color: $gray-dark;
        flex-grow: 1;
        border: none;
        &:placeholder-shown {
            text-overflow: ellipsis;
        }
        &-nofilter {
            cursor: pointer;
        }
    }

    &-clear-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        background: transparent;
        border: none;
        span {
            display: flex;
        }
        &-icon {
            fill: $brand-primary;
            transition: fill 0.2s ease-in-out;
        }
        &:hover &-icon {
            fill: $hover-color;
        }

        & + .widget-combobox-down-arrow {
            border-left: 1px solid $separator-border;
        }
    }
    &-down-arrow {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        cursor: pointer;
        padding-left: 4px;
        span {
            display: flex;
        }

        &-icon {
            fill: $typography-color;
            transition: fill 0.2s ease-in-out, transform 0.2s;
            &.active {
                transform: rotate(180deg);
                transition: fill 0.2s ease-in-out, transform 0.2s;
            }
        }
        &:hover svg {
            fill: $hover-color;
        }
    }

    &-placeholder {
        background-color: $disabled-color !important;
        justify-content: flex-end !important;
        border: 1px solid #e7e7e9;
        cursor: not-allowed;
        &-down-arrow {
            svg {
                fill: $hover-color;
            }
        }
    }

    &-selected {
        &-items {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
        }

        &-item {
            color: #000;
            font-size: 12px;
            display: inline-flex;
            border-radius: 26px;
            justify-content: center;
            padding: 4px 10px;
            flex-wrap: wrap;
            align-items: center;
            margin: 1px 2px;
            gap: 8px;
            background-color: $brand-secondary-light;
            &-remove-button {
                padding: 0px 0px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                color: $brand-primary;
                span {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    &-down-checkbox-icon {
        fill: transparent;
        &:not(.checked) rect {
            stroke: #ced0d3;
        }
        &.checked {
            rect {
                fill: #264ae5;
            }
            path {
                stroke: white;
                stroke-width: 2px;
                stroke-linecap: round;
                stroke-linejoin: round;
            }
        }
    }

    .icon-container {
        display: flex;
    }
}
