$brand-primary: #264ae5;
$gray-dark: #606671;
$gray-primary: #ced0d3;
$brand-secondary-light: #e6eaff;
$separator-border: #787d87;
$typography-color: #3b4251;
$box-shadow-color: rgba(0, 0, 0, 0.2);
$selected-item: #e6eaff;
$highlighted-index: #f5f6f6;
$unselected-item: #ffffff;
$hover-color: #ced0d3;
$disabled-color: #f8f8f8;
$disabled-text-color: #6c7180;
$menu-outer-padding: 10px;
.widget-combobox {
    flex-grow: 1;
    position: relative;
    transition: color 150ms ease 0s;
    &-menu {
        position: absolute;
        display: inline;
        border-radius: 7px;
        margin: 4px 0 4px 0;
        width: 100%;
        left: unset;
        padding: $menu-outer-padding 0 0;
        z-index: 1;
        box-shadow: 0px 0px $menu-outer-padding 0px $box-shadow-color;
        background-color: $unselected-item;
        list-style-type: "none";
        &-list {
            padding: 0;
            margin-bottom: 0;
            max-height: 320px;
            overflow-y: auto;
            &:last-child {
                margin-bottom: $menu-outer-padding;
            }
        }
        &-hidden {
            display: none;
        }
        &-header {
            border-bottom: 1px solid $gray-primary;
            &:focus,
            &:focus-within,
            &:hover {
                background-color: $highlighted-index;
            }

            &:has(input[type="checkbox"]:hover, :focus, :focus-within)
                + .widget-combobox-menu-list:not(.widget-combobox-menu-highlighted)
                input[type="checkbox"]:not(:checked):after {
                content: "";
                border-color: $hover-color;
            }
        }

        &-footer {
            border-top: 1px solid $gray-primary;
            padding: $menu-outer-padding;
            &:focus,
            &:focus-within {
                outline: 1px solid $brand-primary;
            }
        }
    }

    &-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        padding: 6px 0 6px $menu-outer-padding;
        height: fit-content;
        overflow: hidden;
        color: $typography-color;
        background-color: $unselected-item;

        &-selected {
            background-color: $selected-item;
        }
        &-highlighted,
        &:focus {
            background-color: $highlighted-index;
        }
        & > .widget-combobox-icon-container {
            margin-right: $menu-outer-padding;
        }

        .widget-combobox-caption-text {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            flex: 1;
            font-weight: normal;
            margin: 0;
            min-height: 20px;
        }

        &.widget-combobox-no-options {
            justify-content: center;
        }
    }

    &-input-container {
        flex-grow: 1;
        transition: box-shadow 150ms ease 0s;

        &-disabled {
            background-color: $disabled-color !important;
            pointer-events: none !important;
        }
    }

    &-input {
        color: $gray-dark;
        flex-grow: 1;
        border: none;
        padding: 0;

        &:not(:focus) {
            opacity: 0;
        }

        &-nofilter {
            cursor: pointer;
        }
    }

    &-clear-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        background: transparent;
        border: none;
        &-icon {
            transition: color 0.2s ease-in-out;
        }
        path {
            stroke-width: 0;
            transition: stroke-width 0.2s ease-in-out;
        }

        &:focus .widget-combobox-icon-container {
            border-radius: 2px;
            outline: 2px solid $brand-primary;
        }

        &:hover &-icon {
            color: $brand-primary;
            font-weight: bold;

            path {
                stroke-width: 1px;
            }
        }

        & + .widget-combobox-down-arrow {
            border-left: 1px solid $separator-border;
        }
    }
    &-down-arrow {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        cursor: pointer;
        padding-left: 4px;

        &-icon {
            transition: transform 0.2s;
            &.active {
                transform: rotate(180deg);
                transition: transform 0.2s;
            }
        }
    }

    &-placeholder {
        background-color: $disabled-color !important;
        justify-content: flex-end !important;
        border: 1px solid #e7e7e9;
        cursor: not-allowed;

        &-text {
            color: $typography-color;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            pointer-events: none;
            display: none;
        }

        &-empty {
            color: $gray-dark;
        }
    }

    &-custom-content {
        position: relative;
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        .widget-combobox-input {
            &:not(:focus),
            &:placeholder-shown {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            &:focus:not(:placeholder-shown) + .widget-combobox-placeholder-custom {
                display: none;
            }
        }
    }

    &-selected {
        &-items {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            position: relative;

            &.widget-combobox-boxes {
                margin: -2px 0;
                .widget-combobox-input {
                    &-nofilter,
                    &:not(:focus) {
                        width: 1px;
                    }
                }
            }

            input:placeholder-shown,
            input:not(:focus) {
                & + .widget-combobox-placeholder-text {
                    display: block;
                }
            }
        }

        &-item {
            color: #000;
            font-size: 12px;
            line-height: 1.334;
            display: inline-flex;
            border-radius: 26px;
            justify-content: center;
            padding: 2px 10px;
            flex-wrap: wrap;
            align-items: center;
            margin: 2px;
            gap: 8px;
            background-color: $brand-secondary-light;
            &-remove-button {
                padding: 0px 0px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                color: $brand-primary;
                span {
                    display: flex;
                    align-items: center;
                }
            }
            &:focus-visible {
                outline: $brand-primary auto 1px;
            }
        }
    }

    &-down-checkbox-icon {
        fill: transparent;
        &:not(.checked) {
            rect {
                stroke: $gray-primary;
            }
            &:hover,
            &:focus {
                path {
                    stroke: $hover-color;
                    stroke-width: 2px;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                }
            }
        }
        &.checked {
            rect {
                fill: $brand-primary;
            }
            path {
                stroke: white;
                stroke-width: 2px;
                stroke-linecap: round;
                stroke-linejoin: round;
            }
        }
    }

    &-icon-container {
        display: flex;
        padding-top: 1px;
    }
}
