// Checkbox Radio Selection Widget Styles
.widget-checkbox-radio-selection {
    display: flex;
    position: relative;
    min-width: 0;
    align-items: center;

    &-readonly {
        &.widget-checkbox-radio-selection-readonly-text {
            .checkbox-item,
            .radio-item {
                input {
                    display: none;
                }
            }
        }

        &.widget-checkbox-radio-selection-readonly-selectedText {
            .radio-item,
            .checkbox-item {
                display: none;
                &.widget-checkbox-radio-selection-item-selected {
                    display: block;

                    input {
                        display: none;
                    }
                }
            }
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
    }

    &-item {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: var(--spacing-smaller, 4px);
        }
        input {
            flex: 0 0 16px;
        }

        label {
            font-weight: inherit;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 0;
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        & + label {
            cursor: pointer;
            margin-left: var(--spacing-small, 8px);
        }
    }
}
