.widget-rich-text-modal {
    &-overlay {
        position: fixed;
        inset: 0px;
        background-color: var(--shadow-color, rgba(#ced0d3, 0.5));
        justify-content: center;
        align-items: center;
        display: flex;
        z-index: 105;

        &.mx-underlay {
            z-index: 105;
        }
    }

    &-body {
        &.modal-dialog {
            z-index: 106;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.view-code-dialog {
            width: fit-content;
            min-width: 50vw;

            .code-input {
                min-height: 50vh;
            }
        }

        .nav-tabs {
            li {
                cursor: pointer;
                a {
                    pointer-events: none;
                }
            }
        }

        .mx-image-dialog-list {
            display: flex;
            flex-wrap: wrap;
        }

        .mx-image-dialog-item {
            padding-right: var(--spacing-small, 8px);
            padding-bottom: var(--spacing-small, 8px);
            cursor: pointer;

            &:hover {
                transform: scale3d(1.05, 1.05, 1);
                transition: transform 0.2s ease-in-out;
            }
        }

        .mx-image-dialog-thumbnail {
            max-height: 100px;
            &-small {
                max-height: 50px;
            }

            &-container {
                position: relative;

                .icon-container {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    align-items: center;
                    justify-content: center;
                    display: none;

                    .icons {
                        border-radius: var(--border-radius-default, 4px);
                        background-color: var(--color-background, #fff);
                        cursor: pointer;
                        transition: transform 0.2s ease-in-out;
                        &:hover {
                            transform: scale3d(1.05, 1.05, 1);
                        }
                    }
                }

                &:hover {
                    .icon-container {
                        display: flex;
                    }
                }
            }
        }
    }

    &-header {
        padding-top: 15px;
        padding-bottom: 14px;
        font-size: var(--font-size-large, 18px);
    }

    &-content {
        padding: 20px;
        flex: 1;
    }

    &-footer {
        padding-top: 12px;
        padding-bottom: 14px;
        display: flex;
        justify-content: end;

        button.btn:not(:last-child) {
            margin-right: 20px;
        }
    }

    &-form {
        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &-input {
        display: flex;
    }
}
