.widget-rich-text-modal {
    &-overlay {
        position: fixed;
        inset: 0px;
        background-color: var(--shadow-color, rgba(#ced0d3, 0.5));
        justify-content: center;
        align-items: center;
        display: flex;
        z-index: 105;
    }

    &-body {
        &.modal-dialog {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.view-code-dialog {
            width: fit-content;
            min-width: 50vw;

            .code-input {
                min-height: 50vh;
            }
        }

        .nav-tabs {
            li {
                cursor: pointer;
                a {
                    pointer-events: none;
                }
            }
        }
    }

    &-header {
        padding-top: 15px;
        padding-bottom: 14px;
        font-size: var(--font-size-large, 18px);
    }

    &-content {
        padding: 20px;
        flex: 1;
    }

    &-footer {
        padding-top: 12px;
        padding-bottom: 14px;
        display: flex;
        justify-content: end;

        button.btn:not(:last-child) {
            margin-right: 20px;
        }
    }

    &-form {
        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &-input {
        display: flex;
    }
}
