name: Create draft release
run-name: Draft release for ${{ inputs.package }}

on:
    workflow_dispatch:
        inputs:
            package:
                description: "Package name to release (name in package.json)"
                required: true

jobs:
    create-release:
        name: "Create widget/module release on GitHub"
        runs-on: ubuntu-latest
        env:
            PACKAGE: ${{ github.event.inputs.package }}

        steps:
            - name: Checkout
              uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
              with:
                  fetch-depth: 1
            - name: Setup pnpm
              uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
            - name: Setup node
              uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3.8.1
              with:
                  node-version-file: ".nvmrc"
                  cache: "pnpm"
            - name: Search for package in workspace
              run: >
                  if [[ -z "$(pnpm ls --json --filter=$PACKAGE)" ]];
                  then
                    echo "::error::Package $PACKAGE not found in workspace.";
                    exit 1;
                  fi
            - name: Install dependencies
              run: pnpm install
            - name: Create ${{ github.event.inputs.package }} widget release
              run: pnpm run create-gh-release --filter=$PACKAGE
              env:
                  GH_USERNAME: ${{ secrets.GH_USERNAME }}
                  GH_EMAIL: ${{ secrets.GH_EMAIL }}
                  GH_NAME: ${{ secrets.GH_NAME }}
                  GH_PAT: ${{ secrets.GH_PAT }}
