name: Workflow for dependabot pull requests

on:
  workflow_call:

jobs:
  lockfile:
    name: Check lockfile and update if needed
    runs-on: ubuntu-latest

    outputs:
      updated: ${{ steps.lockfile_status.outputs.updated }}

    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GH_PAT }}
      - name: Get diff
        run: echo "GIT_DIFF=$(git diff --name-only origin/main pnpm-lock.yaml)" >> $GITHUB_ENV
      - name: Get lockfile status
        id: lockfile_status
        run: echo "updated=${{ env.GIT_DIFF == 'pnpm-lock.yaml' && 'yes' || 'no' }}" >> $GITHUB_OUTPUT
      - if: ${{ steps.lockfile_status.outputs.updated == 'no' }}
        uses: pnpm/action-setup@c3b53f6a16e57305370b4ae5a540c2077a1d50dd # v2.2.4
        with:
          version: ^7.13.4
      - if: ${{ steps.lockfile_status.outputs.updated == 'no' }}
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # v3.5.1
        with:
          node-version-file: ".nvmrc"
      - if: ${{ steps.lockfile_status.outputs.updated == 'no' }}
        name: Fix lockfile and push to branch created by dependabot
        # https://github.com/actions/checkout#push-a-commit-using-the-built-in-token
        run: |
          pnpm install --lockfile-only
          git config user.name "${{ secrets.GH_NAME }}"
          git config user.email "${{ secrets.GH_EMAIL }}"
          git add pnpm-lock.yaml
          git commit -m "build: update pnpm-lock.yaml [dependabot skip]"
          git push

  run-main-workflow:
    if: ${{ needs.lockfile.outputs.updated == 'yes' }}
    needs: [lockfile]
    uses: ./.github/workflows/Main.yml
