name: Renovate

on:
    workflow_dispatch:

    schedule:
        # At minute 0 past hour 8, 14, and 20 on every day-of-week from Monday through Friday.
        - cron: "0 8,14,20 * * 1-5"

jobs:
    renovate:
        name: Run self-hosted Renovate
        runs-on: ubuntu-latest
        if: >-
            ${{ contains(fromJson('["workflow_dispatch", "schedule"]'), github.event_name) ||
                github.event.label.name == 'renovate-rebase' }}
        steps:
            - name: Checkout
              uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
              with:
                  fetch-depth: 0

            - name: Check SHA in GH Actions
              uses: zgosalvez/github-actions-ensure-sha-pinned-actions@555a30da2656b4a7cf47b107800bef097723363e # v2.1.3

            - name: Self-hosted Renovate
              uses: renovatebot/github-action@0da8b0cd8bb013041bad4f818c2790fa3253efb1 # v36.1.1
              with:
                  configurationFile: .github/renovate.json
                  token: ${{ secrets.RENOVATE_TOKEN }}
                  useSlim: false
