name: Run E2E test on Firefox
# This workflow is used to test our widgets against the Firefox browser weekly.

on:
    schedule:
        # At 03:00 on every day-of-week.
        - cron: "0 03 * * 1-5"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    e2e:
        name: Run automated end-to-end tests on Firefox
        runs-on: ubuntu-latest

        permissions:
            packages: read
            contents: read

        strategy:
            # when one test fails, DO NOT cancel the other
            fail-fast: false
            matrix:
                # run 3 copies of the current job in parallel
                index: [0, 1, 2]

        steps:
            - name: Checkout
              uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
              with:
                  fetch-depth: 0
            - name: Setup pnpm
              uses: pnpm/action-setup@d882d12c64e032187b2edb46d3a0d003b7a43598 # v2.4.0
            - name: Setup node
              uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3.8.2
              with:
                  node-version-file: ".nvmrc"
                  cache: "pnpm"
            - name: Install dependencies
              run: pnpm install
            - name: "Executing E2E tests"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  BROWSER_CYPRESS: firefox
              run: >-
                  node 
                  ./automation/run-e2e/bin/run-e2e-in-chunks.mjs
                  --chunks 3
                  --index ${{ matrix.index }}
                  --event-name ${{ github.event_name }}
            - name: "Fixing files permissions"
              if: failure()
              run: |
                  sudo find ${{ github.workspace }}/packages/* -type d -exec chmod 755 {} \;
                  sudo find ${{ github.workspace }}/packages/* -type f -exec chmod 644 {} \;
            - name: "Archive test screenshot diff results"
              uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
              if: failure()
              with:
                  name: test-screenshot-results
                  path: |
                      ${{ github.workspace }}/packages/**/tests/e2e/screenshot-results/diff/**/*.png
                      ${{ github.workspace }}/packages/**/tests/e2e/screenshot-results/TESTFAIL_*.png
                      ${{ github.workspace }}/packages/**/cypress-visual-screenshots/diff/*.png
                      ${{ github.workspace }}/packages/**/cypress-visual-screenshots/comparison/*.png
                      ${{ github.workspace }}/packages/**/cypress/videos/*.mp4
                  if-no-files-found: error
