name: Run E2E test using Playwright
# [WIP] This workflow is used to test our widgets using Playwright.

on:
    schedule:
        # At 05:00 on every day-of-week.
        - cron: "0 05 * * 1-5"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    e2e:
        name: Run automated end-to-end tests using Playwright
        runs-on: ubuntu-latest

        permissions:
            packages: read
            contents: read

        strategy:
          fail-fast: false

        steps:
            - name: Checkout
              uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
              with:
                  fetch-depth: 0
            - name: Setup pnpm
              uses: pnpm/action-setup@d882d12c64e032187b2edb46d3a0d003b7a43598 # v2.4.0
            - name: Setup node
              uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3.8.2
              with:
                  node-version-file: ".nvmrc"
                  cache: "pnpm"
            - name: Install dependencies
              run: pnpm install
            - name: Install Playwright Browsers
              run: pnpm exec playwright install --with-deps firefox
            - name: Run E2E tests
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: pnpm -r --workspace-concurrency=1 run --if-present e2e.playwright
            - uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
              if: failure()
              with:
                name: playwright-report-${{ matrix.shardIndex }}_${{ matrix.shardTotal }}
                path: ${{ github.workspace }}/packages/**/test-results
                retention-days: 30
