name: RC E2E testing
on:
  workflow_dispatch
env:
  AWS_S3_BUCKET_NAME : ${{ secrets.AWS_S3_BUCKET_NAME }}
  AWS_REGION : ${{ secrets.AWS_REGION }}
  AWS_IAM_ROLE_ARN : ${{ secrets.AWS_IAM_ROLE_ARN }}
permissions:
      id-token: write   # This is required for requesting the JWT
      contents: read    # This is required for actions/checkout
jobs:
  RCArtifactsDownload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          fetch-depth: 0
      - name: Setup AWS credentials
        uses: aws-actions/configure-aws-credentials@3654529dc6db288721684d6c54fefa0c1182728f
        with:
          role-to-assume: ${{ env.AWS_IAM_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
      # Download an artifact from AWS S3 bucket
      - name:  Download latest-studio-pro.json from S3 Bucket
        run: |
          echo "Before downloading..."
          ls
          aws s3 cp s3://${{ env.AWS_S3_BUCKET_NAME }}/modelers/latest-studio-pro.json ./latest-studio-pro.json
          echo "After downloading..."
          ls
      - uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
        with:
          name: RCArtifact
          path: ${{ github.workspace }}/latest-studio-pro.json
          retention-days: 30
