name: Run Sigrid CI
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
jobs:
    sigridci:
        if: vars.ENABLE_SIGRID == 'yes'
        runs-on: ubuntu-latest
        steps:
            - name: Check out repository
              uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

            - name: Download Sigrid CI
              run: "git clone https://github.com/Software-Improvement-Group/sigridci.git sigridci"

            - name: Only publish to Sigrid without waiting for results
              if: github.event_name == 'push'
              env:
                  SIGRID_CI_TOKEN: ${{ secrets.SIGRID_CI_TOKEN }}
              run: "./sigridci/sigridci/sigridci.py --customer mendix --system mendix-web-widgets --source ./packages --publishonly"

            - name: Run Sigrid CI without publishing
              if: github.event_name == 'pull_request'
              continue-on-error: true
              env:
                  SIGRID_CI_TOKEN: ${{ secrets.SIGRID_CI_TOKEN }}
              run: "./sigridci/sigridci/sigridci.py --customer mendix --system mendix-web-widgets --source ./packages"

            - name: Save Sigrid CI results
              if: github.event_name == 'pull_request'
              uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
              with:
                  path: "sigrid-ci-output/**"
                  retention-days: 7
                  if-no-files-found: ignore

            - name: "Sigrid pull request feedback"
              if: github.event_name == 'pull_request'
              uses: mshick/add-pr-comment@7c0890544fb33b0bdd2e59467fbacb62e028a096 # v2.8.1
              with:
                  message-id: sigrid
                  message-path: sigrid-ci-output/feedback.md
